@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inconsolata&display=swap');

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  background-color: #fff;
  padding: 0 2em;
  box-sizing: border-box;
  margin: 0;
  justify-content: center;
  align-items: center;
}
a, a:hover {
  text-decoration: none;
  color: #000;
}
h1 {
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Cardo', serif;
  font-size: 7vw;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-fon-smoothing: grayscale;
  margin: 0.5em 0 0.1em 0;
}
h2 {
  font-family: 'Cardo', serif;
  font-weight: normal;
  margin: 0em 0 3em 0;
  text-align: center;
}
h2 strong:first-of-type {
  font-weight: normal;
  background-color: #eee;
}
h2 strong:last-of-type {
  position: relative;
}
h2 strong:last-of-type:before {
  content: "";
  position:relative;
  width:100%;
  height: 2.5em;
  left: 0;
  width: 100%;
  z-index:-10;
  background-image: url('underline.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
h2 strong:last-of-type:after {
  content: "";
  position:absolute;
  width:100%;
  height: 2.5em;
  left: 0;
  width: 100%;
  z-index:-10;
  background-image: url('underline.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.install {
  display: block;
  border: 1px solid #ddd;
  color: #666;
  margin: 3em;
  padding: 1em 2em;
  border-radius: 5px;
  text-decoration: none;
}
.install:hover {
  border: 1px solid #000;
  background-color: #f7f7f7;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.border {
  position: fixed;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border: 16px solid red;
  opacity: 1;
  z-index: -1;
}
.left {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 3em;
}
.right {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 3em;
}
@media screen and (max-width: 1600px) {
  h1 {
    font-size: 8vw;
  }
}
@media all and (max-width: 1200px) {
  h1 {
    font-size: 8vw;
  }
}
@media all and (max-width: 600px) {
  h1 {
    font-size: 6vh;
  }
  h1 {
    width: 100%;
    min-width: 100%;
  }
  h2 {
    width: 60%;
  }
}
